.container {
  max-width: calc(315px + 60px);
  margin-inline: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  &__icon {
    width: 24px;
    height: 24px;
  }
}
