<div class="news container">
  <div class="news__title">News</div>
  <div class="news__list">
    <div class="news__item left">Short news title will be here</div>
    <div class="news__item right">Short news title will be here</div>
  </div>
</div>

<div class="tasks container">
  <div class="tasks__title">Daily Tasks:</div>
  <div class="tasks__list">
    <div class="tasks__item background-purple">
      <div class="tasks__desc desc-purple">Daily astromeditation</div>
      <div class="tasks__number number-purple">3</div>
    </div>

    <div class="tasks__item background-orange">
      <div class="tasks__desc desc-orange">Daily sleep astromeditation</div>
      <div class="tasks__number number-orange">1</div>
    </div>

    <div class="tasks__item background-green">
      <div class="tasks__desc desc-green">Daily mantra</div>
      <div class="tasks__number number-green">2</div>
    </div>
  </div>

  <div class="tasks__bar">
    <div class="tasks__subtitle">
      Your overall progress is <span>{{ progress }}%</span>
    </div>
    <!--<mat-progress-bar mode="determinate" value="60"></mat-progress-bar>-->
    <div class="progress">
      <div class="progress__bar">
        <div class="progress__line" [style.width]="progress + '%'"></div>
      </div>
    </div>
  </div>

  <a href="/" class="tab background-purple">
    <div class="tab__info">
      <div class="tab__header">
        <div class="tab__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z"
              stroke="#403572"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 2V6"
              stroke="#403572"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 2V6"
              stroke="#403572"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M3 10H21"
              stroke="#403572"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="tab__title number-purple">How was your day?</div>
      </div>
      <div class="tab__desc number-purple">
        Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut vel odio en
        urna ultrice...
      </div>
    </div>
    <div class="tab__arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
      >
        <path
          d="M4.5 2.5L8 6L4.5 9.5"
          stroke="#403572"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>

  <a href="/" class="tab background-orange">
    <div class="tab__info">
      <div class="tab__header">
        <div class="tab__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
              stroke="#FF5648"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 6V12L16 14"
              stroke="#FF5648"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="tab__title number-orange">Current Transist: 3rd House</div>
      </div>
      <div class="tab__desc number-orange">
        This is demonstrate siblings, hobbies, efforts, confidence, friends and
        short tr...
      </div>
    </div>
    <div class="tab__arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
      >
        <path
          d="M4.5 2.5L8 6L4.5 9.5"
          stroke="#FF5648"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
</div>
