:root{
    --ff:'Roboto', sans-serif;

    --c-icon: #8B97A8;



}

$c-icon: #8B97A8;
$c-icon-active: #3D3270;
$c-section-title: #595085;
$c-text-white: #fff;

$c-purple-bacground: #F6F5FB;
$c-orange-bacground: #FFF4F4;
$c-green-bacground: #F5F9F9;
$c-pink-bacground: #FDF9FB;

$c-purple: #403572;
$c-orange: #FF5648;
$c-green: #479696;
$c-pink: #C93F8D;


$c-progressbar-background: #fdf9fb;
$c-progressbar-line: #C93F8D;


$desktop: 1400px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$min-mobile: 320px;
